* {
    margin: 0;
}

/* header part style in this website */
.header {
    background-image: url(../images/banner/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.banner {
    text-align: right;
    padding: 200px 230px 845px 0px;

}

.banner-title {
    color: #151414;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 65px;
    margin-bottom: 24px;
}

.banner-details {
    color: #444343;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 32px;

}

.button {
    border: none;
    background: #F15B22;
    border-radius: 5px;
    padding: 20px 25px;
    color:
        #FFFFFF;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

/* header part style in this website */