* {
    margin: 0;
}

/* header part style in this website */
.header {
    background-image: url(../images/banner/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.banner {
    text-align: right;
    position: absolute;
    left: 50%;
    top: 16%;
}

.banner-title {
    color: #151414;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 65px;
    margin-bottom: 24px;
}

.banner-details {
    color: #444343;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 32px;

}

.button {
    border: none;
    background: #F15B22;
    border-radius: 5px;
    padding: 20px 25px;
    color:
        #FFFFFF;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

/* my failures part style in this website */
.my-failures-year {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 56px;
    margin: 130px 100px 0px 100px;
}
.failures-description{
    margin-left: 30px;
}
.failures-description h3 {
    font-weight: 700;
    font-size: 40px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    color: #151414;
    margin-bottom: 24px;
}

.failures-description p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    font-family: 'Work Sans', sans-serif;
    color: #444343;
    margin-bottom: 33px;
}
.details-list {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    font-family: 'Work Sans', sans-serif;
    color: #444343;
    line-height: 30px;
}
.check{
    color: #16D887;
}