* {
    margin: 0;
}

/* header part of style in the website */
.header {
    background-image: url(../images/banner/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.banner {
    text-align: right;
    position: absolute;
    left: 50%;
    top: 16%;
}

.banner-title {
    color: #151414;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 65px;
    margin-bottom: 24px;
}

.banner-details {
    color: #444343;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 32px;

}

.button {
    border: none;
    background: #F15B22;
    border-radius: 5px;
    padding: 20px 25px;
    color:
        #FFFFFF;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

/* my failures part of style in the website */
.my-failures-year {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 56px;
    margin: 140px 100px 0px 100px;
}

.failures-description {
    margin-left: 30px;
}

.failures-description h3 {
    font-weight: 700;
    font-size: 40px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    color: #151414;
    margin-bottom: 24px;
}

.failures-description p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    font-family: 'Work Sans', sans-serif;
    color: #444343;
    margin-bottom: 33px;
}

.details-list {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    font-family: 'Work Sans', sans-serif;
    color: #444343;
    line-height: 30px;
}

.check {
    color: #16D887;
}

/* myplan part of style in the website */
.myplan-title {
    font-weight: 700;
    font-size: 40px;
    font-family: 'Work Sans', sans-serif;
    color: #151414;
    text-align: center;
    margin-top: 130px;
}

.myplans {
    display: flex;
    justify-content: center;
    gap: 80px;
    padding: 50px 50px;

}

.myplans-list {
    text-align: center;
}

.myplan-detail {
    color: #151414;
    font-weight: 700;
    font-size: 30px;
    font-family: 'Work Sans', sans-serif;
    margin-top: 24px;

}

.myplan-description {
    color: #737272;
    font-weight: 500;
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    margin-top: 16px;
}

/* linaer gradient*/
.banner-2-detail {
    /* background-image: url('../images/watch.png'); */
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%), url('../images/watch.png');
    background-repeat: no-repeat;
    height: 300px;
    width: 900px;
    margin: 130px 100px 0 240px;
    border-radius: 8px;

}

.banner-2-detail-title {
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    font-family: 'Work Sans', sans-serif;
    padding: 59px 0 0 64px;

}

.btn-secondary {
    font-family: 'Work Sans', sans-serif;
    border: none;
    color: #F15B22;
    font-weight: 600;
    font-size: 20px;
    background: #FFFFFF;
    border-radius: 5px;
    padding: 20px 36px;
    margin: 24px 0 0 64px;
}